---
---

@import "minima";

$border-color: #4b6a88;
$border-radius: 5px;

$card-types: (
  colour: #3D9970,
  nose: #0074D9,
  taste: #85144B,
  pairing: #2ECC40,
  price: #FF4136,
);

@page {
  size: A4 landscape;
  marks: cross;
  bleed: .9cm;
}

body {
  -webkit-print-color-adjust: exact;
}

.cards-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  > h1 {
    margin: 3em 10px;
    width: 100%;
  }
}

.icon {
  height: 60px;
  width: 60px;
}

.card {
  border: 2px solid $border-color;
  border-radius: $border-radius;
  background: white;
  display: flex;
  flex: 1;
  flex-flow: column;
  min-height: 3.5in;
  max-height: 3.5in;
  margin: 10px auto;
  min-width: 2.5in;
  max-width: 2.5in;
  position: relative;
  text-align: center;
  break-inside: avoid;

  .card__title,
  .card__text,
  .card__icon,
  .card__wine-colour {
    flex: 1;
    text-align: center;
    z-index: 999;
  }

  .card__text,
  .card__wine-colour {
    &:empty {
      display: none;
    }
  }

  .card__icon {
    order: 1;

    .icon {
      fill: $border-color;
    }
  }

  .card__text {
    color: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45%;
    order: 10;
    padding: 0 1.5em;
  }

  .card__illustration {
    position: absolute;
    top: .7in;
    width: 100%;
    z-index: 0;
  }

  .card__wine-colour {
    order: 50;

    .icon {
      height: 30px;
      width: 30px;

      // -webkit-clip-path: circle(20px at 20px);
      // clip-path: circle(20px at 20px);

      &.icon--white {
        fill: #DFC04B;
      }

      &.icon--red {
        fill: #A22E08;
      }

      &.icon--rose {
        fill: #F4A460;
      }
    }
  }

  .card__title {
    background-color: $border-color;
    border-top: 2px solid $border-color;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 100;
    justify-content: center;
    margin-bottom: 0;
    min-height: 4em;
    max-height: 4em;
    order: 90;
  }

  @each $type, $color in $card-types {
    &.card--#{$type} {
      border-color: $color;

      .icon {
        fill: $color;
      }

      .card__title {
        background-color: $color;
        border-color: $color;
      }
    }
  }

}

@media print {
  .site-header,
  .site-footer,
  .cards-list > h1 {
    display: none;
  }

  main {
    padding: 0;
  }

  .cards-list {
    display: block;
  }

  .card {
    flex: none;
    float: left;
    widows: 0;
    margin: .03cm;
  }
}
